<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备使用到期提醒邮件</title>
</head>
<body>
<p>Hi, 耀文：</p>
<p></p>
<p>您申请使用的设备：【%s】即将到期，请到期后及时在《实验室设备资源管理系统》提交归还申请，避免给后面使用设备的同事带来不便，谢谢！</p>
<p>使用信息：</p>
<table border="1" style="border-collapse: collapse;" cellpadding="5">
    <tbody>
        <tr>
            <th>项目</th>
            <th>设备ID</th>
            <th>设备名称</th>
            <th>开始时间</th>
            <th>结束时间</th>
        </tr>
        <tr>
            <td>KGD_2G combo</td>
            <td>qcx01</td>
            <td>T5571P存储器测试系统</td>
            <td>2022-02-22 15:59:46</td>
            <td>2022-02-23 16:00:00</td>
        </tr>
    </tbody>
</table>
<p>   </p>
<br>

<p style="color:red">注意: 该邮件由系统发送，无需回复！</p>
<p>————————————————————————————————————</p>
<p>人力资源与行政部  CAD&amp;IT </p>
</body>
</html>